<div class="insert_div">
    <h1 class="title_insert">Inserindo uma nova tarefa:</h1> 
    <form action="/insert/tarefas" method="post" class="form_insert"> 
        <label for="tarefa">Nome da tarefa:</label> <br>
        <input type="text" name="nome_tarefa" id="nome_tarefa"> <br>
        <label for="tarefa">Adiconar tarefa:</label> <br>
        <input type="text" name="tarefa" id="tarefa"> <br>
        <input type="submit" value="Adicionar">
    </form> 
</div>